<div class="todo-container">
  <h2 class="green-text">Einkaufsliste</h2>
  <div class="add-todo">
    <input [(ngModel)]="newTodo" placeholder="Produkte hinzufügen" />
    <button (click)="addTodo()">Hinzufügen</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <input type="checkbox" [(ngModel)]="todo.done" (change)="toggleDone(i)" />
      <span [class.done]="todo.done">{{ todo.task }}</span>
      <button (click)="removeTodo(i)">Remove</button>
    </li>
  </ul>
</div>
