<div class="todo-container">
  <div id="einkaufliste-container">
    <h2 class="green-text">Einkaufsliste</h2>
    <div class="input-container">
      <input [(ngModel)]="newTodo" placeholder="Produkte hinzufügen" />
      <button (click)="addTodo()">Hinzufügen</button>
    </div>
    <ul>
      <li *ngFor="let todo of todos; let i = index">
        <div class="task-container">
          <input type="checkbox" [(ngModel)]="todo.done" (change)="toggleDone(i)" />
          <span [class.done]="todo.done">{{ todo.task }}</span>
          <button (click)="removeTodo(i)">Löschen</button>
        </div>
      </li>
    </ul>
  </div>
</div>
