<div class="todo-container">
  <div id="einkaufliste-container">
    <h2 class="green-text">Einkaufsliste</h2>
    <div class="input-container">
      <input [(ngModel)]="newTodo" placeholder="Produkte hinzufügen" />
      <button (click)="addTodo()">Hinzufügen</button>
    </div>
    <ul>
      <li *ngFor="let todo of todos$ | async; let i = index">
        <div class="task-container">
          <!-- Checkbox ohne ngModel, nur change Event -->
          <input type="checkbox" [checked]="todo.done" (change)="toggleDone(todo.id!, todo.done)" />
          <span [class.done]="todo.done">{{ todo.task }}</span>
          <button (click)="removeTodo(todo.id!)">Löschen</button>
        </div>
      </li>
    </ul>
  </div>
</div>
